<style>
  .sb-search-span-no-break{
        display:flex;
        overflow:hidden;
        line - height: 27px;
        white - space: nowrap;
  }
  .sb-search-label-no-break{
        float:left;
        margin - right: 12px;
  }
  .sb-search-button{
    min-width:25px;
    max-width:25px;
    height:25px
  }
  .sb-search-form{
  overflow: hidden !important;
  }
  
  .sb-search-fieldset{
    min-height: 60px;
    display: flex;
    align-items: center;
  }
  .sb-search-fieldset.sb-search-result-fieldset{
    height: calc(100% - 95px);
    padding-bottom: 0px;
  }
  .sb-search-form-results{
    overflow: hidden;
    height: 100%;
  }
  .sb-search-result-thead{
  
  }
  .sb-search-result-tbody{
    display: block;
    overflow-y: auto;
    table-layout: fixed;
    
    height: 100%;
  }
  
  thead.sb-search-result-thead,
  tbody.sb-search-result-tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
  
  
  table.sb-search-result-table{
    
    height: calc(100% - 40px);
    border-bottom-style: none;
    background: rgba(0,0,0,0);
  }
  
  table.sb-search-result-table>thead>tr>th{
    text-align:left;
    
  }
  
  .sb-search-form-search-for{
    
  }  
  .sb-search-fieldset-legend{ 
      
  }
  .sb-search-fieldset-filter{ 
    min-width :100px;
  }
  
  table.sb-search-result-table>thead>tr>th:first-child {
    padding-left: 2px;
  }
  .sb-search-result-link{
    cursor: pointer;
  }
  .sb-search-result-link:hover{
    text-shadow: var(--sb-text-shadow-primary);
  }
  .sb-search-form-btn{
    font-size: 18px;
    line-height: 20px;
    padding: 3px;
  }
  .sb-search-form-btn:hover{
    text-shadow: var(--sb-text-shadow-primary);
  }
  .sb-search-found-marker{
    font-weight:bold;
    background-color:yellow;
  }
  
  table.sb-search-result-table>tbody>tr>td{
    vertical-align:top;
    word-wrap: break-word;
    padding-top: 8px;
  }

td.sb-search-column-itemtype,
th.sb-search-column-itemtype
 {
    width:80px;	
  }

th.sb-search-column-fieldname,
td.sb-search-column-fieldname{
    width:85px;	
  }

th.sb-search-column-fieldvalue,
td.sb-search-column-fieldvalue{
    width:40%;

  }


td.sb-search-column-fieldvalue{

font-family:monospace;
  }

th.sb-search-column-itemkey,
td.sb-search-column-itemkey{
    width:200px;	
  }


td.sb-search-column-itemname{
  padding-top:0.25em !important;    	
  }

.sb-search-form-search-type-label{
  margin-left: 3px;
    margin-top: 4px;
}
  
</style>

<form class="sb-search-form" autocomplete="off" enctype="multipart/form-data">
  <fieldset class="sb-search-fieldset">
    <legend class="sb-search-fieldset-legend">Search Parameters</legend>
    <fieldset class="sb-search-fieldset sb-search-fieldset-filter">
    <legend class="sb-search-fieldset-legend ">Search Filter</legend>
      <span class="sb-search-span-no-break" >

        <input  id="sb-search-form-search-for" type="text"  class="sb-search-form-search-for" name="search_for" title="" value="{{search_for}}"/>
        <i id="sb-search-form-btn-search" data-tooltip="Search" class="sb-search-form-btn fas fa-magnifying-glass"></i> 
        <i id="sb-search-form-btn-clear-filter" data-tooltip="Clear filter" class="sb-search-form-btn far fa-times-circle"></i>
      </span>
    </fieldset>                      
    <fieldset class="sb-search-fieldset">
      <legend class="sb-search-fieldset-legend">Search Type</legend>    
      
      <input type="radio" id="sb-search-form-search-type-key-references" name="sb-search-form-search-type" value="key_references" {{#ifCond search_type "key_references"}} checked {{/ifCond}}>
      <label class="sb-search-form-search-type-label" for="sb-search-form-search-type-key-references"> Key references</label>    
      
    </fieldset>  
    <fieldset class="sb-search-fieldset">
      <legend class="sb-search-fieldset-legend">Search Options</legend>
      <input type="checkbox" id="sb-search-form-search-option-itemname" class="sb-search-form-search-option" data-option-key="itemName" {{#if search_options.itemName}} checked {{/if}}><label for="sb-search-form-search-option-itemname"> Item Name</label>
      <input type="checkbox" id="sb-search-form-search-option-subitems" class="sb-search-form-search-option" data-option-key="subItems" {{#if search_options.subItems}} checked {{/if}}><label for="sb-search-form-search-option-subitems"> Subitems</label>
      <input type="checkbox" id="sb-search-form-search-option-tablefilters" class="sb-search-form-search-option" data-option-key="tableFilters" {{#if search_options.tableFilters}} checked {{/if}}><label for="sb-search-form-search-option-tablefilters"> Table Filters</label>
        
    </fieldset>  
    <fieldset class="sb-search-fieldset">
      <legend class="sb-search-fieldset-legend">Show Options</legend>
      <input type="checkbox" id="sb-search-form-search-option-showfolders" class="sb-search-form-search-option" data-option-key="showFolders" {{#if search_options.showFolders}} checked {{/if}}><label for="sb-search-form-search-option-showfolders"> Show Folders</label>      
        
    </fieldset> 

   
  </fieldset>             
   
  <fieldset class="sb-search-fieldset sb-search-result-fieldset">
    <legend class="sb-search-fieldset-legend">Search Result</legend>          

    <section class="sb-search-form-results">
      <table id="sb-search-result-table" class="sb-search-result-table">
        <thead class="sb-search-result-thead">
          <th class="sb-search-column-itemname">Item</th>
          <th class="sb-search-column-itemtype">Item Type</th>
          <th class="sb-search-column-itemkey">Item Key</th>
          {{#if search_options.showFolders}}<th class="sb-search-column-folder">Folder</th>{{/if}}
          <th class="sb-search-column-fieldname">Field Name</th>
          <th class="sb-search-column-fieldvalue">Field Value</th>
        </thead>
        <tbody class="sb-search-result-tbody">
          {{#if search_options.showFolders}}
            {{#eachProperty search_result}}
              <tr>                      
                <td class="sb-search-column-itemname">
                  <div class="sb-two-col-card-wrapper sb-search-result-link" data-item-id="{{value.itemId}}">
                    <div class="sb-two-col-card-image-in-table"><img src="{{value.itemImg}}" class="sb-citem-table-icon"> </div>  
                    <div class="sb-two-col-card-name">{{value.itemName}}</div>
                  </div>
                </td>  
                <td class="sb-search-column-itemtype">{{value.itemType}}</td>
                <td class="sb-search-column-itemkey">{{value.itemKey}}</td>
                <td class="sb-search-column-folder">{{value.folder}}</td>
                <td class="sb-search-column-fieldname">{{value.fieldName}}</td>
                <td class="sb-search-column-fieldvalue">{{{value.fieldValue}}}</td>
              </tr>
            {{/eachProperty }}
          {{else}}
            {{#eachProperty search_result}}
              <tr>                      
                <td class="sb-search-column-itemname">
                  <div class="sb-two-col-card-wrapper sb-search-result-link" data-item-id="{{value.itemId}}">
                    <div class="sb-two-col-card-image-in-table"><img src="{{value.itemImg}}" class="sb-citem-table-icon"> </div>  
                    <div class="sb-two-col-card-name">{{value.itemName}}</div>
                  </div>
                </td>  
                <td class="sb-search-column-itemtype">{{value.itemType}}</td>
                <td class="sb-search-column-itemkey">{{value.itemKey}}</td>
                
                <td class="sb-search-column-fieldname">{{value.fieldName}}</td>
                <td class="sb-search-column-fieldvalue">{{{value.fieldValue}}}</td>
              </tr>
            {{/eachProperty }}
          {{/if}}
        </tbody>
      </table>
      {{#if noResults}}
        <p class="note">No items found matching query</p>
      {{/if}}
    </section>
  </fieldset>

  <!-- Footer -->
  <footer class="form-footer flexrow">

  </footer>

</form>